.tabbar
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 18px;
  background-color: #f8f8f8; /* 薄い背景色を追加 */

  ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;

    li
    {
      width: 25%;
      text-align: center;
      min-height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f8f8f8; /* 薄い背景色を追加 */
    }

    a
    {
      color: rgb(74, 74, 74);
      text-decoration: none;

      .icon
      {
        line-height: 1;
        margin-bottom: 2vw;
      }

      .text
      {
        font-size: clamp(10.5px, 2.2vw, 12px);
        font-weight: bolder;
        line-height: 1.2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      /* アクティブなタブのスタイル */
      &.active {
        color: #00A0E6; /* アクティブなタブのテキスト色 */
        font-weight: bold;
      }
    }
    
    /* タブ間の区切り線 */
    li:not(:last-child) {
      border-right: 1px solid #e0e0e0;
    }
  }

  @media (min-width: 768px) {
    ul {
      li {
        min-height: 70px;
      }

      a {
        .icon {
          margin-bottom: 4px;
        }

        .text {
          font-size: 10px;
        }
      }
    }
  }
}