a
{
  color: #007bff;
  text-decoration: none;
}

.app-body
{
  /* フッター(.app-footer)の高さ 60px と一致させる */
  height: calc(100% - 68px - env(safe-area-inset-bottom));
  overflow-y: auto; /* コンテンツがはみ出した場合に縦スクロールを許可 */
  box-sizing: border-box;
  padding-bottom: 10px; /* スクロールバー終端がタブに干渉しないよう余白 */
  scrollbar-gutter: stable; /* スクロールバー分のスペースを確保 */
}
// Hack for Edge to eliminate calc(env())
@supports (-ms-ime-align: auto) {
  .app-body {
    height: calc(100% - 60px);
  }
}
// Also hack for IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .app-body {
    height: calc(100% - 60px);
  }
}

.app-footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 100;
}
